.partner-section { padding-top: 50px; padding-bottom: 50px; min-height: 100vh; 

    .header { background: var(--Background, #FFF7F2); @include padding(25px 0); 

        h1 { font-family: $semibold; font-size: clamp(24px, 4vw, 40px); }
    }

    .content { @include margin-top(40px); 

        .editor {

            h1,h2,h3,h4,h5,h6{
                font-family: $bold; margin-bottom: 20px; color: #000000; line-height: 1.2;
            }

            p { font-family: $semibold; color: #787878; margin-bottom: 20px; font-size: clamp(16px, 1.5vw, 17px); line-height: 24px; }

            ul { list-style: disc; padding-left: 20px; 

                li { margin-bottom: 20px; color: #787878; font-size: clamp(14px, 2vw, 20px); line-height: 24px; }
            }
        }
    }

    .parner-icon { width: fit-content; margin-left: auto; margin-right: auto; display: block; @include mobile-display { width: 100%; }
    }
}